<div id='oi-devbar'>
  <a href='#' class='oi-halos'>Halos</a>
</div>

<div id='oi-templates'>
  <div class='oi-halo'>
    <div class='oi-halo-title'></div>
    <div class='oi-halo-inspector oi-button'><a href='#'>Inspect</a></div>
    <div class='clear oi-element'></div>
  </div>
</div>
